<div id="contenedor">
    <div id="central">
        <div id="login">
            <img class="circular--square" src="./assets/img/LOGO.jpg" style="height: 50%; width: 50%;"/>
            <div class="titulo">
                Recuperar cuenta
            </div>
            <form id="loginform">
                <input type="text" name="Correo" placeholder="Correo" required>
                
                <button type="submit" title="Ingresar" name="Ingresar">Enviar</button>
            </form>
        </div>
        <div class="inferior">
            <a href="/login">Volver</a>
        </div>
    </div>
</div>