
<div class="card mb-4">
    <div class="card-header">
        <h1 class= "titulo animate__animated animate__rubberBand">Listado de Productos</h1>   
    </div>
    <br>
    <form>
        <p>Nombre: <input type="text" name="nombre" size="44"></p>
        <p>Descripcion: <input type="text" name="nombre" size="40"></p>
        <p>Marca: <input type="text" name="nombre" size="45"></p>
        <p>Categoria: <input type="text" name="nombre" size="42"></p>
        <p>Precio: <input type="text" name="nombre" size="45"></p>
        <p>Stock: <input type="text" name="nombre" size="46"></p>
        <p>Activo:
            <select name="menu">
                <option value="1">Si</option>
                <option value="2">No</option>
              </select>
    </p>
      </form>
      <br>
      <button class="fcc-btn">Crear Producto</button>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="search-container">
                    <input type="text" id="search-bar" placeholder="Buscar...">
                    <button id="search-button">Buscar</button>
                </div>
                  </div>
            </div>
        <br>
        <hr />
        <table id="tabla" class="display responsive " style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                    <th scope="row"></th>
                  </tr>
            </tbody>
        </table>
        <br>
        <br>
        <br>
    </div>
</div>

